<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/reset.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <title>Transition lesson_2.58</title>
</head>

<body>
    <div class="wrapper">
        <div class="transition-square">
            <div class="slider active"></div>
            <p class="success active">Успех!</p>
        </div>
    </div>
</body>

</html>