<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 2.48</title>
</head>

<body>
    <fieldset>
        <legend>Давайте познакомимся!</legend>
        <label for="">
            Как Вас зовут?
            <input type="text">
        </label>
        <label for="">
            Сколько Вам лет?
            <input type="text">
        </label>
        <label for="">
            Зачем к нам заглянули??
            <input type="text">
        </label>
        <label for="">
            Каково цвета на Вас трусы?
            <input type="text">
        </label>
    </fieldset>
    <br>

    <fieldset>
        <legend>Понажимай на кнопки!</legend>
        <label>Нажмииии</label>
        <button type="submit" class="submit">Нажми, чтобы подтвердить!</button>

        <label>Нажмииии</label>
        <button type="button">Нажми просто так</button>

        <label>Нажмииии</label>
        <button type="reset">Опа, обнули!</button>
    </fieldset>

    <br>
    <fieldset>
        <legend>А теперь вставь текст!</legend>
        <label>Хуяк</label>
        <textarea name="somewere" cols="30" rows="10"></textarea>
    </fieldset>

    <br>
    <fieldset>
        <form>
            <label for="here">What the hell?</label>
            <input type="text" id="here">
            <button type="button">Рабочая кнопочка</button>
            <select>
                <option value="">Кого хочешь выбирай</option>
                <option value="1">каравай</option>
                <option value="2">баравай</option>
                <option value="3">абибас</option>
                <option value="4">кельвин клеин</option>
                <option value="5">пурпурыска</option>
            </select>
        </form>
    </fieldset>
</body>

</html>