<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson_2.51</title>
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="container">
            <a class="logo" href="#">
                <img src="" alt="">
            </a>

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#"></a>
                    </li>
                </ul>
            </nav>

            <div class="header__controls">
                <button class="header__button"></button>

                <div class="user-nav">
                    <a class="user-nav__link user-nav__link--active" href="#">
                        <img src="" alt="">
                        <span>2</span>
                    </a>
                    <a class="user-nav__link user-nav__link--active" href="#">
                        <img src="" alt="">
                    </a>
                    <a class="user-nav__link user-nav__link--active" href="#">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- welcome start -->
    <section class="welcome">
        <div class="container">
            <h2 class="minor-title">Welcome To Steak In </h2>
            <!-- назвала так "второстепенный" заголовок. Как можно назвать по-другому? -->
            <h1 class="main-title">We Are Food Masters!</h1>
            <p class="welcome__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusantium minus blanditiis ad velit?
                Nemo laborum iste ratione dolor eaque!
            </p>
            <button class="welcome__button welcome__button--active"></button>
            <!-- не смогла открыть ссылку с сайтом. делала по скриншотатм из урока. не помню повторяется ли в макете, поэтому сделала элементом, а не блоком -->
        </div>
    </section>
    <!-- welcome end -->

    <!-- greeting start -->
    <section class="greeting">
        <div class="container">
            <h3 class="minor-title">Hello Dear</h3>
            <h2 class="main-title">We Are Steak In!</h2>
            <svg class="flower"></svg>
            <!-- опять же не помню повторяется или нет, но кажется, что повторяется, поэтому блочный элемент-->
            <p class="greeting__text"></p>
            <img class="caption" src="" alt="#">
        </div>
    </section>
    <!-- greeting end -->
</body>

</html>
