body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 150%;
    background: #181E34;
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 930px;
    padding: 0 15px;
    height: 100%;
}

/* Header start -------------------------------------*/

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    font-weight: 500;
    padding: 14px 30px;
    color: #2766AE;
    background: #fff;
}

/* Header end -----------------------------------------*/




/* Hero-section start -----------------------------------*/

.hero-section {
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-text-1 {
    margin-bottom: 15px;
}

.hero-text span {
    color: #01a2cb;
    font-weight: 700;
    text-transform: uppercase;
}

.button-1,
.button-2 {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.button-1 img,
.button-2 img {
    margin-left: 4px;
}

.button-1 {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin-bottom: 10px;
}

.button-2 {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

/* Hero-section end ------------------------------------*/




/* Cards-section start -------------------------------*/

.cards-section {
    padding: 120px 0;
}

.cards-title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}

.cards-text {
    margin: 15px auto 60px;
    max-width: 513px;
}

.cards-inner {
    /* margin-bottom: 30px; */
    /* margin: 0 -14px -28px; */
    padding-bottom: 30px;
}


.cards-inner-item {
    display: inline-block;
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;

    margin: 0 14px 28px 0;
}

.cards-inner-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.cards-inner-text {
    text-align: center;
    max-width: 144px;
}

.cards-button {
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
}

/* Cards-section end -----------------------------------------*/





/* Footer start -------------------------------*/

.footer {
    padding: 60px 0;
    border-top: 1px solid #323952;
}

.footer-inner {
    display: flex;
}

.footer-img img {
    margin-bottom: 15px;
}

.footer-img {
    max-width: 267px;
    margin-right: auto;
}

.block-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.block-item {
    margin-bottom: 10px;
}

.footer-block-1,
.footer-block-2 {
    max-width: 204px;
    width: 100%;
}

.footer-block-1 {
    margin-right: 28px;
}

/* Footer end -------------------------------*/