section {
    background: #bcd6e7;
    box-sizing: border-box;
    height: 700px;
    border: 0.5px solid #4c4848;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden scroll;
}

.block {
    box-sizing: border-box;
    display: inline-block;
    background: #c4b289;
    width: 400px;
    height: 280px;
    margin: 10px 5px;
    padding: 25px 35px;
    border: 0.5px solid #9e9999;
    border-radius: 20px;
    box-shadow: inset 0 0 6px 3px #887e67;
}

.title {
    font-size: 35px;
}

.text {
    font-size: 25px;
    margin: 0;
}