<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try HTML</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <address>Москва, Санкт-Петербург</address>
                </li>
                <li>H<sub>2</sub>O</li>
                <li>a<sup>2</sup></li>
                <li><abbr title="#">HTTP</abbr></li>
            </ul>
        </nav>

        <a href="#" target="_blank">Это просто какая-то ссылка, ведущая в никуда</a>
    </header>

    <main>
        <section>
            <input type="text">
            <button class="button">НАЖМИ МЕНЯ БЫСТРОООООООО</button>
        </section>

        <div>
            <dl>
                <dt>Покемон</dt>
                <dd>Это маленкький
                    <pre>
                    з 
                    в 
                    е 
                    р 
                    е 
                    к
                </pre>
                </dd>
            </dl>
        </div>

        <section id="helloworld">
            <blockquote>
                <q>
                    Я пуп земли, ю ноу
                </q>
            </blockquote>
        </section>


        <div>
            <a href="#helloworld">hello, world!!!</a>
            <a href="tel:+79105142223">8 (910) 514-22-23</a>
            <a href="mailto:kotuxia@yandex.ru">kotuxia@yandex.ru</a>
        </div>
    </main>

    <footer>
        <time datetime="#">19:52</time>
    </footer>
</body>

</html>