<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>lesson_2.54</title>
</head>

<body>
    <section class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laborum culpa maxime eveniet iusto cum
        totam ducimus velit consequuntur sequi fuga debitis, excepturi impedit blanditiis, minus veniam et. Veritatis
        quod architecto praesentium, quibusdam recusandae natus alias voluptas ut obcaecati nihil reprehenderit eligendi
        officia quaerat, deserunt, necessitatibus officiis pariatur esse molestiae cumque dolores unde distinctio
        dignissimos ullam quisquam. Consequuntur labore recusandae eius totam, veniam, laborum eum, perspiciatis
        accusamus ipsam voluptate tempora! Atque velit officia delectus ipsum ex voluptatem vero explicabo repellat
        fugit reprehenderit dolorum autem nesciunt asperiores blanditiis placeat at cum, molestias, sit amet omnis
        exercitationem assumenda! Officia quis in animi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laborum culpa maxime eveniet iusto cum
        totam ducimus velit consequuntur sequi fuga debitis, excepturi impedit blanditiis, minus veniam et. Veritatis
        quod architecto praesentium, quibusdam recusandae natus alias voluptas ut obcaecati nihil reprehenderit eligendi
        officia quaerat, deserunt, necessitatibus officiis pariatur esse molestiae cumque dolores unde distinctio
        dignissimos ullam quisquam. Consequuntur labore recusandae eius totam, veniam, laborum eum, perspiciatis
        accusamus ipsam voluptate tempora! Atque velit officia delectus ipsum ex voluptatem vero explicabo repellat
        fugit reprehenderit dolorum autem nesciunt asperiores blanditiis placeat at cum, molestias, sit amet omnis
        exercitationem assumenda! Officia quis in animi.
    </section>

    <div class="geometric-shapes">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="rectangle"></div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>