<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first WEB-SITE(NO)</title>
    <link rel="shortcut icon" href="img/html-logo.svg" type="image/x-icon">
    <style>
        .block-1 {
            background: #4b4646;
            color: #fff;
        }

        .first {
            color: #ca479e;
        }

        .block-11 {
            background: red;
            height: 100px;
            width: 100px;
        }

        .block-2 {
            background: #b781e9;
            width: 300px;
        }

        .elemet {
            color: #fff;
            background: #4e295f;
        }
    </style>
</head>

<body>
    <div class="block-1">
        Всем привет, сегодня я создаю свой <span class="first">первый сайт!</span>
        <div class="block-11"></div>
    </div>
    <div class="block-2">
        А здесь у меня какие-то элементы:
        <div>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
            <span class="elemet">Элемент</span>
        </div>
    </div>

</body>

</html>